/* Configurações globais do site */
body{
    padding: 0px;
    margin: 0px;
}

.main{
    display: flex;
}

.box{
    margin: 10px;
    text-align: center;
    width: 250px;
    line-height: 250px;
}

/* Configura as cores da div */
.c_blue{
    background-color: rgb(86, 86, 194);
    color: white;
}

.c_red{
    background-color: rgb(196, 98, 98);
    color: black;
}
 
.c_palegreen{
    background-color: rgb(129, 248, 129);
    color: white;
}

.c_green{
    background-color: rgb(0, 66, 0);
    color: white;
}

/* Configura o tamanho do texto */
.t_pequeno{
    font-size: 16px;
}

.t_medio{
    font-size: 20px;
}

.t_grande{
    font-size: 30px;
}